:host {
  display: block;
  width: fit-content;

  --container-height: 100px;
  --container-width: 200px;

  --action-size: 48px;
  --target-size: 32px;
  --radius-thickness: 8px;
  --rotation-offset: 70deg;
}

#rail-switch-container {
  width: var(--container-width);
  height: var(--container-height);
  position: relative;
}

#background-track {
  position: absolute;
  top: var(--radius-thickness);
  right: var(--radius-thickness);
  bottom: 0; /* hide it peeking out */
  left: var(--radius-thickness);
  background-color: transparent;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border-width: var(--radius-thickness);
  box-sizing: border-box;
  border-style: solid;
  border-bottom: 0;
}

.drag-target-container {
  position: absolute;
  bottom: 0;
  transform-origin: bottom center;
}
#drag-switch-container {
  width: var(--action-size);
  height: calc(100% + calc(var(--radius-thickness) * 1.5));
  left: calc(50% - calc(var(--action-size) / 2));
  transform: rotate(0deg);
}

#drag-switch {
  height: var(--action-size);
  width: var(--action-size);
  border-radius: calc(var(--action-size) / 2);
  cursor: grab;
  transition: background-color 50ms ease-in-out;
}
#drag-switch.ds-selected {
  cursor: grabbing;
}

#left-target-container,
#right-target-container {
  width: var(--target-size);
  height: calc(100% + var(--radius-thickness) / 2);
  left: calc(50% - calc(var(--target-size) / 2));
}

#left-target,
#right-target {
  height: var(--target-size);
  width: var(--target-size);
  border-radius: calc(var(--target-size) / 2);
}

#left-target-container {
  transform: rotate(calc(-1 * var(--rotation-offset)));
}
#right-target-container {
  transform: rotate(var(--rotation-offset));
}